body {
	font-family: Arial, Microsoft YaHei, 黑体, 宋体, sans-serif;
	font-weight: 400;
	color: #707070;
	font-size: 16px;
	background-color: #f9fafb;
}

body.main-view {
	height: 100%;
	z-index: 100;
}

button.submit:hover {
	background-color: #1acc98;
	border-color: #27c295;
}

#login-box {
	min-height: 100%;
}

#login-box>.box {
	margin-top: 100px;
}

#login-box>.box>.title {
	margin-bottom: 30px;
	text-align: center;
}

#login-box .form-horizontal .control-label {
	text-align: right;
}

#login-box .box .message {
	text-align: center;
	color: #f15151;
}

#login-box .buttons {
	text-align: center;
	font-weight: 700;
}

#login-box .box button,
#login-box .box a.btn {
	padding: 4px;
	width: 47%;
	font-weight: 700;
	line-height: 26px;
}

.btn-primary {
	background-color: #27c295;
	border-color: #27c295;
	color: #fff;
}

#login-box .box .signup {
	font-size: 12px;
	text-align: center;
}

.prompt {
	padding: 0px;
	margin-top: 5px;
}

