@import url("reglog/register.css");

.search-view {
	padding-top: 12%;
}

.title {
	margin-bottom: 0;
	font-size: 3.5em;
}

h1.search-text {
	text-align: center;
}
h1 a {
    color: #44304c;
}

h1 a:hover {
	text-decoration: none;
	color: #32193b;
}

.search-form {
    background-color: #fff;
    box-shadow: 0 11px 22px 0 rgba(92,44,115,.3);
    border: 2px solid #5c2d73;
    margin: 50px 0;
    padding: 20px;
}

.search-form input {
    width: 100%!important;
    height: 50px;
    font-size: 20px;
    font-weight: 100;
}
.search-form button {
    margin-top: 0;
    border-radius: 4px;
    width: 100%!important;
    height: 50px;
    font-size: 20px;
    font-weight: 100;
}

.btn-primary {
    border-color: #41204d;
    color: #fff;
    background-color: #50285f;
}
.search-form button:hover {
	background-color: #32193b;
}
